CS_Caixa/Service References/ObterToken/Token3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSOficioRJ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSOficioRJ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsoficiorj.hml.arisp.com.br/Token.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoErro" type="xs:int" />
      <xs:element minOccurs="0" name="ErroDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tokens" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTokenResponse" nillable="true" type="tns:GetTokenResponse" />
</xs:schema>