CS_Caixa/Service References/DbLight/bdlight2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsoficiorj.hml.arisp.com.br/bdlight.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSOficioRJ" />
  <xs:element name="ListArquivosXMLBDL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSOficioRJ" minOccurs="0" name="request" nillable="true" type="q1:ListArquivosXMLBDLRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArquivosXMLBDLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSOficioRJ" minOccurs="0" name="ListArquivosXMLBDLResult" nillable="true" type="q2:ListArquivosXMLBDLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArquivoXMLBDL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSOficioRJ" minOccurs="0" name="request" nillable="true" type="q3:GetArquivoXMLBDLRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArquivoXMLBDLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WSOficioRJ" minOccurs="0" name="GetArquivoXMLBDLResult" nillable="true" type="q4:GetArquivoXMLBDLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarArquivoBDL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WSOficioRJ" minOccurs="0" name="request" nillable="true" type="q5:ImportarArquivoBDLRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarArquivoBDLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WSOficioRJ" minOccurs="0" name="ImportarArquivoBDLResult" nillable="true" type="q6:BDLightResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBDLightAtualizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBDLightAtualizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WSOficioRJ" minOccurs="0" name="SetBDLightAtualizadoResult" nillable="true" type="q7:BDLightResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>